CLK_31P5.cmp
CLK_31P5.qip
CLK_31P5.sip
CLK_31P5.spd
CLK_31P5.v
CLK_31P5/
CLK_31P5_sim/
DE10_Standard_Audio.sdc
KBDINTF.qarlog
KBDINTF.qxp
Lab1Demo.qpf
Lab1Demo.qsf
Lab1Demo.qws
Lab1Demo.restore.rpt
Lab1Demo_assignment_defaults.qdf
Number_position.bsf
Number_position.qip
Number_position.v
Number_position_bb.v
assignment_defaults.qdf
c5_pin_model_dump.txt
constraints/
db/
game_controller.bsf
incremental_db/
matrix_top_xy.v
output_files/
qar_info.json
